In [7]:
## we can also use our command prompt (CMD) in access our python IDE

In [8]:
# python is also case sensitive and works with proper identation

## comment

In [11]:
#single line comments 
#fgfgkjjl;k';l';
#multiline comments 
"""gghhjjkjklk;l;l;l
bbvnbmn,m,m.,.,.
nbnbnmnmnmnmmnmnmnmn"""

'gghhjjkjklk;l;l;l\nbbvnbmn,m,m.,.,.\nnbnbnmnmnmnmmnmnmnmn'

## variables

In [17]:
## variables are containers use to hold or store data
xy=24
xz= "Favour"
ss=24.0

## discovering variable types

In [14]:
type(xy)

int

In [15]:
type(xz)

str

In [18]:
type(ss)

float

## Casting of Variable

In [23]:
## you can change variable type using casting method int(var)
Paul="43"

In [20]:
Paul

'43'

In [21]:
int(Paul)

43

In [22]:
int(xz)

ValueError: invalid literal for int() with base 10: 'Favour'

## Variable rules

In [24]:
## recall the rules

In [28]:
## patterns of naming variables
"meanOfClassA" ## camel case method
"MeanOfClassA" ## Pascal case
"mean_of_class" ## Snake case

'meanOfClassA'

In [31]:
## Naming of multiple Variables at same time
## we call it Unpacking
x,y,z=1,2,34

In [36]:
print("the value of x:", x)
print("the value of y:", y)
print("the value of z:", z)

the value of x: 1
the value of y: 2
the value of z: 34

In [38]:
a,b,c="student","boy","comer"
print("the value of a:", a)
print("the value of b:", b)
print("the value of c:", c)

the value of a: student
the value of b: boy
the value of c: comer

In [41]:
boy,girl = [43,37] ## This is list unpacking
print("the value of boy:", boy)
print("the value of girl:", girl)

the value of boy: 43
the value of girl: 37

## string Concatenation

In [42]:
## you can actually add string Data types
surname='John'
otherNames="bull"
surname+otherNames ## adding a string using addition style.

'Johnbull'

In [47]:
#illustartion of string concatenation 
first=19
second=91
first=str(first)
second=str(second)
DoB=first+second
print("This is my date of Birth:", DoB)

This is my date of Birth: 1991

In [51]:
"Odiebara" + " : " + "Paul" # ways you can play around with strings

'Odiebara : Paul'

# Data Type

### Text type: strings
### Numeric type: int, float, complex (e.g 3j)
### Sequence type: list, tuple, range
### Mapping: dictionary
### Boolean type: bool (True, False, e.t.c)
#### e.t.c

## complex variables

In [52]:
comp = 2+4j
trap = 6+3j

In [53]:
type(comp)

complex

In [54]:
comp + trap

(8+7j)

In [55]:
comp - trap

(-4+1j)

## Python Operators

In [57]:
#Arithmetic : +,-,*,/.....e.t.c

In [60]:
5**2 ## exponent

25

In [62]:
## modulus operator (%)
5%2

1

In [63]:
100%20

0

In [65]:
15//4 ## floor divisor

3

In [74]:
## Assignment operator
if 15==14:
    print("yes they are equal")
else:
    print("no they are not")

no they are not

In [81]:
x=5

In [82]:
x=x-2

In [83]:
x

3

In [86]:
x+=3

In [87]:
x

6

In [88]:
h=6
h=h+4
print(h)

10

In [89]:
h=6

In [90]:
h

6

In [91]:
h+=4

In [92]:
h

10

In [95]:
inp= input('What is your name? ')
print(f"hello {inp}")

What is your name? Favour
hello Favour

In [3]:
inp= input()
print(f"hello {inp+2}")

4.6

TypeError: can only concatenate str (not "int") to str

In [4]:
number= float(input())
print(f"hello {number+2}")

4.9
hello 6.9

In [7]:
numbers = range(5,10)
for i in numbers:
    print(i)

5
8