## Mathematics module

In [10]:
import math #the math module
math.sqrt(25)

5.0

In [4]:
math.pi

3.141592653589793

In [5]:
22/7

3.142857142857143

In [6]:
#if you are inputing in degrees, convert to radians first, because the math module in python works with rads and not degree
math.sin(30)# as evident in the wrong result

-0.9880316240928618

In [7]:
# converting to rads first
degree=float(input('Enter any value in degrees: '))
degree=math.radians(degree)
result=math.sin(degree)
print(result)

Enter any value in degrees: 30
0.49999999999999994

In [8]:
math.radians(30)

0.5235987755982988

In [9]:
math.degrees(0.5235987755982988)

29.999999999999996

## random module

In [3]:
import random
random.seed(7) # using a seed value
x=random.randint(1,5)
x

3

In [12]:
y=random.randrange(4,80,3) #using randrange
y

13

In [1]:
cars=['Toyota','benz','nissan','honda'] ## picking only one thing at a time
print(random.choice(cars))

NameError: name 'random' is not defined

In [23]:
print(random.choices(cars,k=2))# value of k to the number of items u want to select at once

['Toyota', 'nissan']

In [27]:
print(random.choices(cars,k=3))

['benz', 'honda', 'Toyota']

In [10]:
print(random.choices(cars,weights=[10,20,30,40],k=10))

['Toyota', 'nissan', 'benz', 'nissan', 'honda', 'nissan', 'honda', 'Toyota', 'nissan', 'honda']

In [13]:
print(random.choices(cars,cum_weights=[10,30,60,100],k=5))

['honda', 'nissan', 'benz', 'benz', 'honda']

## Tuple

In [24]:
machine=('car','bicycle','keke','bike','blender','generator','keke')

In [25]:
type(machine)

tuple

In [26]:
print(machine)

('car', 'bicycle', 'keke', 'bike', 'blender', 'generator', 'keke')

In [77]:
# how to create a tuple
books=tuple(('physics','maths','chemistry'))
books

('physics', 'maths', 'chemistry')

In [30]:
type(books)

tuple

In [31]:
book=list(('physics','maths','chemistry'))

In [32]:
type(book)

list

In [81]:
book=set(('physics','maths','chemistry'))

In [34]:
type(book)

set

In [35]:
machine

('car', 'bicycle', 'keke', 'bike', 'blender', 'generator', 'keke')

In [37]:
classes=('ss1')

In [38]:
type(classes)

str

In [39]:
classes=('ss1',)

In [40]:
type(classes)

tuple

In [42]:
classes[0]

'ss1'

In [43]:
glass=tuple(('ss1'))

In [44]:
type(glass)

tuple

## fancing indexing

In [45]:
machine

('car', 'bicycle', 'keke', 'bike', 'blender', 'generator', 'keke')

In [52]:
machine[1:6]

('bicycle', 'keke', 'bike', 'blender', 'generator')

In [57]:
machine[1:6:3]

('bicycle', 'blender')

In [58]:
machine[1:6:2]

('bicycle', 'bike', 'generator')

In [60]:
machine[:7]

('car', 'bicycle', 'keke', 'bike', 'blender', 'generator', 'keke')

In [61]:
machine[1][3]

'y'

In [64]:
print('keke' in (machine))

True

In [65]:
print('cfghjkl;' in (machine))

False

In [66]:
machine=list(machine)

In [67]:
machine.pop()

'keke'

In [68]:
machine=tuple(machine)
machine

('car', 'bicycle', 'keke', 'bike', 'blender', 'generator')

In [69]:
new_machine=machine+books # adding two different tuple together

In [70]:
new_machine

('car',
 'bicycle',
 'keke',
 'bike',
 'blender',
 'generator',
 'physics',
 'maths',
 'chemistry')

In [71]:
del new_machine # deletes a tuple

In [72]:
new_machine

NameError: name 'new_machine' is not defined

In [92]:
## consider the tuple clothes
clothes=tuple(('shirt','trouser','shorts','singlet'))
clothes

('shirt', 'trouser', 'shorts', 'singlet')

In [93]:
red,blue,white,black=clothes

In [94]:
clothes

('shirt', 'trouser', 'shorts', 'singlet')

In [95]:
red

'shirt'

In [96]:
black

'singlet'

In [97]:
books=tuple(('physics','maths','chemistry'))
textbook,notebook,workbook=books

In [98]:
books

('physics', 'maths', 'chemistry')

In [99]:
textbook

'physics'

In [102]:
odd=tuple((1,3,5,7,9))

In [107]:
oddd=odd*3
oddd

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

In [108]:
odd

(1, 3, 5, 7, 9)

In [109]:
odd+oddd

(1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9, 1, 3, 5, 7, 9)

In [116]:
## looping through a tuple
for j in range(len(clothes)):
    print(clothes[j])

shirt
trouser
shorts
singlet

In [120]:
(oddd+odd).count(9)

4

In [121]:
odd.index(5)

2

In [122]:
(odd+oddd).index(5)

2