In [1]:
import random

In [3]:
## implementation of a guessing game
comp_guess=random.randrange(1,101)
while True:
    our_guess=int(input("please enter an integer: "))
    if (our_guess)<comp_guess:
        print("your guess is less than computer guess, please try again")
    elif our_guess>comp_guess:
        print("your guess is more than computer guess, please try again")
    else:
        print("your guess is same as the computer guess, \nYou won!")
        break

please enter an integer: 50
your guess is more than computer guess, please try again
please enter an integer: 25
your guess is less than computer guess, please try again
please enter an integer: 37
your guess is less than computer guess, please try again
please enter an integer: 42
your guess is more than computer guess, please try again
please enter an integer: 40
your guess is more than computer guess, please try again
please enter an integer: 39
your guess is more than computer guess, please try again
please enter an integer: 38
your guess is same as the computer guess,
You won!

## Set

In [4]:
set1={1,2,3,4,5,6}

In [5]:
type(set1)

set

In [7]:
set2=set((1,4,5,8,9,10))

In [8]:
type(set2)

set

In [9]:
## it can be of other data types, not only numbers

In [1]:
set_cars={'benz','volvo',"jaguar"}

In [15]:
type(set_cars)

set

In [16]:
set_cars

{'benz', 'jaguar', 'volvo'}

In [19]:
'volvo' in set_cars ## checking for elements contained in set_car

True

In [21]:
for x in set_cars:
    print (x)

benz
volvo
jaguar

In [2]:
## adding items to a set
set_cars.add('Toyota')

In [3]:
set_cars

{'Toyota', 'benz', 'jaguar', 'volvo'}

In [25]:
print(set_cars)

{'benz', 'volvo', 'Toyota', 'jaguar'}

In [26]:
set_cars

{'Toyota', 'benz', 'jaguar', 'volvo'}

In [11]:
## adding elements in a sets to an existing set
set3=set_cars.update(set1)

In [6]:
set_cars

{1, 2, 3, 4, 5, 6, 'Toyota', 'benz', 'jaguar', 'volvo'}

In [7]:
print(set_cars)

{1, 2, 3, 4, 5, 6, 'Toyota', 'volvo', 'benz', 'jaguar'}

In [13]:
print(set3)

None

In [14]:
set3=set(set_cars)

In [15]:
set3

{1, 2, 3, 4, 5, 6, 'Toyota', 'benz', 'jaguar', 'volvo'}

In [20]:
set3.remove(7)

KeyError: 7

In [22]:
set3.remove(5)

In [24]:
set3

{1, 2, 3, 6, 'Toyota', 'benz', 'jaguar', 'volvo'}

In [23]:
set3.discard(10) # note the difference between discard and remove

In [25]:
set3.discard('benz')

In [26]:
set3

{1, 2, 3, 6, 'Toyota', 'jaguar', 'volvo'}

In [27]:
set3.pop() # removes any item at random

1

In [28]:
set3

{2, 3, 6, 'Toyota', 'jaguar', 'volvo'}

In [29]:
clear()# empties our set

In [30]:
del set3 # deletes our set

In [31]:
r=4

In [32]:
r

4

In [33]:
del r # we use delete to delete any given variable name

In [34]:
r

NameError: name 'r' is not defined

In [35]:
times4={4,8,12,16}
times5={5,10,15,20}
times3={3,6,9,12}
times6={6,12,18,24}

In [41]:
union6_4=times4.union(times6)

In [39]:
union6_4

{4, 6, 8, 12, 16, 18, 24}

In [42]:
intersect6_4=times4.intersection(times6)

In [43]:
intersect6_4

{12}

In [44]:
intersect5_3=times5.intersection(times3)

In [48]:
intersect5_3

set()

In [49]:
import datetime

In [71]:
time=datetime.datetime.now()

In [72]:
print(time)

2022-06-03 13:21:24.936908

In [73]:
time.year

2022

In [74]:
time.month

6

In [75]:
time.day

3

In [76]:
time.hour

13

## Dictionary

In [104]:
person={"name":"Smith","age":52,
        "marital status":"married",
       "likes":["Singing","Dancing"]}

In [78]:
type(person)

dict

In [79]:
print(person)

{'name': 'Smith', 'age': 52, 'marital status': 'married', 'likes': ['Singing', 'Dancing']}

In [81]:
person["age"]

52

In [82]:
person["likes"]

['Singing', 'Dancing']

In [83]:
person["married"]

KeyError: 'married'

In [84]:
## review of casting
house=tuple(('storey', 'oneroom','bungalow'))

In [85]:
house

('storey', 'oneroom', 'bungalow')

In [88]:
small,blue,big=house

In [89]:
small

'storey'

In [90]:
house

('storey', 'oneroom', 'bungalow')

## back to dictionary

In [105]:
person["age"]=person["age"]+3

In [92]:
person

{'name': 'Smith',
 'age': 55,
 'marital status': 'married',
 'likes': ['Singing', 'Dancing']}

In [106]:
person["name"]='Favour'

In [112]:
person

{'name': 'Favour',
 'age': 55,
 'marital status': 'marriedsingle',
 'likes': ['Singing', 'Dancing']}

In [95]:
person['likes'][0]

'Singing'

In [96]:
person['likes'][1]

'Dancing'

In [111]:
person['marital status']=person['marital status']+["single"]

TypeError: can only concatenate str (not "list") to str

In [110]:
person

{'name': 'Favour',
 'age': 55,
 'marital status': 'marriedsingle',
 'likes': ['Singing', 'Dancing']}

## continue from last class